// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//color
$brand-primary: #00DC82;
$brand-secondary: #020420;
$white-color: #FFFFFF;
$no-focus-color: #D2D6DA;
$success-color: #28CA38;
$warning-color: #FFCC00;
$danger-color: #B91C1C;
